﻿
@{
    ViewData["Title"] = "Index";
}

<h1>Empresas</h1>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.3.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $('#nomeEmpresa').autocomplete({
                minLength: 2,
                source: '/Empresa/Buscar'
            });
        });
    </script>
</head>
<body>
    @using (Html.BeginForm("ListarEmpresas", "Empresa", FormMethod.Get))
    {
        <input type="submit" name="btnOK" value="Listar Empresas" />
    }

    <h3>Personalizar Busca </h3>

    @using (Html.BeginForm("MostrarEmpresa", "Empresa", FormMethod.Get))
    {
        <label>Digite o nome da empresa a ser buscada: </label>
        <input type="text" id="nomeEmpresa" name="nome" placeholder="Digite..." />
        <input type="submit" name="btnOK" value="Buscar" />
    }

    @using (Html.BeginForm("ObterEmpresasPorTipo", "Empresa", FormMethod.Get))
    {
        <label>Digite o nome o tipo da empresa a ser buscado: </label>
        <input type="text" id="tipo" name="tipo" placeholder="Digite..." />
        <input type="submit" name="btnOK" value="Buscar" />

    }

</body>
</html>