﻿
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@using (Html.BeginForm("Post", "Login", FormMethod.Post))
{
    <label>Digite o usuário para logar: </label>
    <input type="text" id="userId" name="userId" placeholder="UserId..." />
    <input type="password" id="key" name="key" placeholder="Key..." />
    <input type="submit" name="btnOK" value="Entrar" />
}